.body{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  margin-top: 10%;
  flex-direction: column;
  padding: 20px;
  width: 600px;
  border: 2px dotted rgb(12, 231, 41);
  background-color: coral;
}
.accord{
 margin: auto;
 background-color: aqua;
 margin-bottom: 20px;
 padding-left: 2rem;
}
p{
  background-color: rgb(123, 148, 216);
}